// font-size
$ss: clamp(0.2rem, -0.51rem + 2.67vw, 1.2rem);
$s: clamp(0.6rem, -0.11rem + 2.67vw, 1.6rem);
$m: clamp(1rem, 0.29rem + 2.67vw, 2rem);
$l: clamp(1.4rem, 0.69rem + 2.67vw, 2.4rem);
$ll: clamp(3rem, 2.29rem + 2.67vw, 4rem);
$xl: clamp(3.8rem, 3.09rem + 2.67vw, 4.8rem);

// color
$black: #171717;
$white: #f7f7f7;
$bgBlur: rgba(256, 256, 256, 0.5);
$bgBlur2: rgba(23, 23, 23, 0.3);
$shadowLine: #d9d9d9;
$main: #62639c;
$sub: #abbae5;
$mint: #c2efdb;
$pink: #f36daf;
$gray: #808080;
$worksBg: rgb(171, 186, 229, 0.3);
$worksNav: rgb(171, 186, 229, 0.5);

// font-family
@font-face {
  font-family: "PixelMplus10";
  src: url(../fonts/PixelMplus-20130602/PixelMplus10-Regular.woff)
      format("woff"),
    url(../fonts/PixelMplus-20130602//PixelMplus10-Regular.woff2)
      format("woff2");
}
$font: "PixelMplus10", sans-serif;
$subFont: "osaka", sans-serif;

// windowスタイル
%windowWrap {
  width: 88vw;
  height: 88vh;
  position: fixed;
  top: 2vh;
  left: 2vw;
  border-top: 4px solid $white;
  border-left: 4px solid $white;
  border-bottom: 4px solid $shadowLine;
  border-right: 4px solid $shadowLine;
  background-color: $main;
  padding: 0 0.8rem;
  .bar {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 0.8rem;
    h1 {
      font-size: $m;
      font-family: $font;
      color: $white;
      span {
        font-size: $s;
      }
    }
  }
  .pageArea {
    width: 100%;
    height: 80.5vh;
    overflow-y: scroll;
  }
}
