@import "../styles/common.scss";

.closeBtn {
  width: 1.6vw;
  min-width: 2.4rem;
  height: auto;
  aspect-ratio: 1/1;
  border-top: 1px solid $white;
  border-left: 1px solid $white;
  border-right: 1px solid $black;
  border-bottom: 1px solid $black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $shadowLine;
  &:hover {
    cursor: url("/img/cursor_click.png"), pointer;
  }
  img {
    width: 50%;
    height: auto;
    object-fit: cover;
  }
}

// クリックしたとき
.closeBtn:active {
  background-color: $gray;
  border-top: 1px solid $black;
  border-left: 1px solid $black;
  border-right: none;
  border-bottom: none;
}
