@import "../styles/common.scss";

.borderTop {
  width: 100%;
  height: 8vh;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 2px solid $shadowLine;
  .footerWrap {
    width: inherit;
    height: inherit;
    background-color: $main;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid $black;
    border-bottom: 2px solid $black;
    .snsWrap {
      margin-left: 10%;
      a {
        margin: 0 1rem;
        img {
          width: 3.2rem;
          height: 3.2rem;
        }
      }
    }
    p {
      margin-right: 10%;
      small {
        color: white;
        font-family: $font;
        font-weight: 500;
        font-size: 2rem;
      }
    }
  }
}
