@use "../styles/common";

.borderTop {
  width: 100vw;
  height: 8vh;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 2px solid common.$shadowLine;
  .footerWrap {
    width: inherit;
    height: inherit;
    background-color: common.$main;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid common.$black;
    border-bottom: 2px solid common.$black;
    .snsWrap {
      display: flex;
      margin-left: 10vw;
      a {
        display: block;
        margin: 0 1rem;
        img {
          width: 4rem;
          height: 4rem;
          object-fit: cover;
        }
        &:hover {
          img {
            cursor: url("/img/cursor_click.png"), pointer;
          }
        }
      }
    }
    p {
      margin-right: 10vw;
      small {
        color: common.$white;
        font-family: common.$font;
        font-weight: 500;
        font-size: 2rem;
      }
    }
  }
}
