@import "../styles/common.scss";

.navWrap {
  width: 100%;
  height: calc(80.5vh - 12vh);
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border-right: 2px solid $black;
  background-color: $worksNav;
  .nav {
    li {
      padding: 2vh 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $s;
      font-family: $font;
      &:hover {
        background: $bgBlur;
        cursor: url("/img/cursor_click.png"), pointer;
      }
      &.active {
        font-weight: bold;
        color: $pink;
      }
    }
  }
}
