:root {
  --color: #171717;
  --bg: #c2efdb;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color);
  background: var(--bg);
  font-family: "PixelMplus10", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
