@use "../styles/common" as *;

.windowWrap {
  @extend %windowWrap;
  .pageArea {
    background: url("/img/bg-line.svg") repeat $sub;
    padding-bottom: 8vh;
  }
}

.profileTopWrap {
  width: 100%;
  height: 80vh;
  display: flex;
  .profileLeft {
    width: 60%;
    aspect-ratio: 1.618 / 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 0.8rem;
    margin: 7vh 2%;
    background-color: rgba(256, 256, 256, 0.8);
    box-shadow: 0px 0px 4px 0px rgba(23, 23, 23, 0.25);
    border-radius: 2rem;
    .imgWrap {
      width: 30%;
      aspect-ratio: 3 / 4;
      background: url("/img/me.png"),
        linear-gradient(180deg, $pink 0%, #8f8f8f 100%);
      background-size: cover;
      background-position: center;
      border: 1px solid $black;
    }
    .textTop {
      width: 60%;
      height: auto;
      h2 {
        font-size: $ll;
        font-weight: lighter;
      }
      .name {
        margin-top: 2rem;
        font-size: $s;
        font-weight: lighter;
        span {
          margin-left: 1.6rem;
          font-size: $l;
          font-family: $subFont;
        }
      }
      .schoolWrap {
        display: flex;
        margin-top: 0.8rem;
        p {
          font-size: $s;
        }
        .school {
          margin-left: 1.6rem;
          font-size: $m;
          font-family: $subFont;
          span {
            font-size: $s;
          }
        }
      }
      .from {
        margin-top: 0.8rem;
        font-size: $s;
        span {
          margin-left: 1.6rem;
          font-family: $subFont;
          font-size: $m;
        }
      }
      .birth {
        margin-top: 0.8rem;
        font-size: $s;
        time {
          margin-left: 1.6rem;
          font-family: $subFont;
          font-size: $m;
        }
      }
      .graduation {
        margin-top: 2.4rem;
        font-size: $l;
        color: $pink;
      }
    }
  }
  .profileRight {
    width: 40%;
    padding: 6vh 2vw 0;
    .skills {
      h2 {
        font-size: $ll;
        font-weight: lighter;
        margin-bottom: 2rem;
      }
      .programming,
      .software {
        h3 {
          margin-bottom: 0.8rem;
          font-size: $l;
          font-weight: lighter;
        }
        .languageWrap {
          display: flex;
          flex-wrap: wrap;
          p {
            font-size: 2rem;
            padding: 0.4rem 1.6rem;
            margin: 0.4rem 0.4rem 0.4rem 0;
            background-color: $bgBlur;
            border: 2px solid $black;
            border-radius: 1.6rem;
          }
        }
      }
      .software {
        margin-top: 0.8rem;
        h3 {
          text-align: left;
        }
        .softWrap {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          gap: 0.4rem;
          div {
            width: 5rem;
            height: 5rem;
            border: 2px solid $black;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
              font-size: 3.2rem;
              padding-left: 0.2rem;
            }
            img {
              width: inherit;
              height: inherit;
              object-fit: cover;
            }
          }
        }
      }
    }
    .jobType {
      width: 100%;
      font-family: $subFont;
      margin-top: 2.4rem;
      padding: 2vh 2vw;
      border: 2px solid $black;
      border-radius: 1.6rem;
      display: flex;
      justify-content: space-between;
      align-self: center;
      p {
        font-size: $l;
      }
      ul {
        li {
          font-size: $m;
        }
      }
    }
    .scroll {
      font-size: $l;
      padding: 0.8rem 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      &::after {
        content: "";
        display: block;
        width: 3.2rem;
        height: 3.2rem;
        background-image: url("/img/scroll_profile.svg");
        background-size: cover;
        background-position: center;
        animation: scroll 3s infinite;
      }
      @keyframes scroll {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(0.8rem);
        }
        100% {
          transform: translateY(0);
        }
      }
    }
  }
}

.about {
  margin-top: 4vh;
  h2 {
    text-align: center;
    font-size: $xl;
    font-weight: lighter;
  }
  .strongWrap {
    width: 85%;
    margin: 2.4rem auto 4.8rem;
    h3 {
      font-size: $l;
      font-weight: lighter;
      font-family: $subFont;
      margin-bottom: 0.8rem;
      color: $black;
      span {
        font-size: $ll;
      }
    }
    .strongText {
      font-size: $s;
      font-family: $subFont;
      line-height: 1.6;
      span {
        font-weight: bolder;
        font-size: $m;
        margin-right: 1.6rem;
      }
    }
  }

  .detailWrap {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    .detailChild {
      width: 45%;
      border: 2px solid $gray;
      border-radius: 1.6rem;
      padding: 2vh 2%;
      h3 {
        font-size: $l;
        font-weight: lighter;
        margin-bottom: 0.8rem;
        color: $black;
      }
      p {
        font-size: $s;
        line-height: 1.6;
        font-family: $subFont;
        span {
          text-decoration: underline;
          text-underline-offset: 4px;
        }
      }
    }
  }
  .summaryText {
    width: 85%;
    font-size: $s;
    font-family: $subFont;
    text-align: left;
    margin: 2.4rem auto;
  }
  .awardWrap {
    width: 85%;
    margin: 5.6rem auto 0;
    h3 {
      font-size: $m;
      font-weight: lighter;
      margin-bottom: 0.8rem;
      span {
        font-size: $ss;
        font-family: $subFont;
        margin-left: 0.8rem;
      }
    }
    li {
      font-size: $s;
      font-family: $subFont;
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-decoration-color: $black;
      text-underline-offset: 4px;
      padding-bottom: 0.8rem;
      a:hover {
        cursor: url("/img/cursor_click.png"), pointer;
      }
    }
  }
  .internWrap {
    width: 85%;
    margin: 5.6rem auto 0;
    h3 {
      font-size: $m;
      font-weight: lighter;
      margin-bottom: 0.8rem;
    }
    p {
      font-size: $s;
      line-height: 1.6;
      font-family: $subFont;
    }
  }
  .history {
    width: 85%;
    margin: 5.6rem auto 0;
    h3 {
      font-size: $m;
      font-weight: lighter;
      margin-bottom: 0.8rem;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      border: 2px solid $gray;
      tbody {
        width: inherit;
        tr {
          font-family: $subFont;
          font-size: $s;
          line-height: 1.6;
          border-bottom: 1px solid $gray;
          th {
            width: 20%;
            border-right: 1px solid $gray;
            background-color: $main;
            color: $white;
          }
          td {
            width: 80%;
            padding: 0.4rem 0.8rem;
            background-color: $bgBlur;
          }
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
    // p {
    //   font-family: $subFont;
    //   font-size: $s;
    //   line-height: 1.6;
    //   span {
    //     font-size: $m;
    //   }
    // }
  }
  .certification {
    width: 85%;
    margin: 5.6rem auto 0;
    h3 {
      font-size: $m;
      font-weight: lighter;
      margin-bottom: 0.8rem;
    }
    p {
      font-family: $subFont;
      font-size: $s;
      line-height: 1.6;
      span {
        font-size: $m;
      }
    }
  }
}

.myFav {
  width: 100%;
  margin-top: 12vh;
  h2 {
    text-align: center;
    font-size: $xl;
    font-weight: lighter;
    margin: 1.6rem auto 2.4rem;
  }
  .childWrap {
    width: inherit;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 1.6rem;
    .favChild {
      width: 45%;
      display: flex;
      align-items: center;
      column-gap: 1.6rem;
      img {
        width: 7.2rem;
        height: 7.2rem;
        object-fit: cover;
      }
      p {
        font-size: $s;
        font-family: $subFont;
        span {
          font-size: $m;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .profileTopWrap {
    flex-direction: column;
    .profileLeft {
      width: 96%;
      margin: 6dvh 2% 2dvh;
      .textTop {
        .schoolWrap {
          .school {
            span {
              font-size: $ss;
            }
          }
        }
      }
    }
    .profileRight {
      width: 96%;
      margin: 0 2%;
      .skills {
        h2 {
          text-align: center;
        }
        .software {
          margin-top: 0.8rem;
          h3 {
            text-align: left;
          }
          .softWrap {
            justify-content: flex-start;
          }
        }
      }
      .jobType {
        border: none;
        text-align: start;
        display: block;
        padding: 0.8rem 0 0 0;
        margin: 0 0 0 2%;
        font-size: $m;
      }
    }
  }
  .about {
    margin-top: 8dvh;
    .strongWrap {
      width: 94%;
    }
    .detailWrap {
      width: 94%;
      flex-direction: column;
      row-gap: 2.4rem;
      .detailChild {
        width: 100%;
      }
    }
    .summaryText {
      width: 94%;
    }
    .awardWrap {
      width: 94%;
    }
    .internWrap {
      width: 94%;
    }
    .history {
      width: 94%;
    }
    .certification {
      width: 94%;
    }
  }
  .myFav {
    width: 94%;
    .childWrap {
      flex-direction: column;
      padding: 0 2%;
      .favChild {
        width: 100%;
      }
    }
  }
}
