@import "../styles/common.scss";

.windowWrap {
  @extend %windowWrap;
  .pageArea {
    background: url(/img/bg-line.svg) repeat, $white;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 14vh calc(80.5vh - 14vh);
  }
}

.header {
  width: 100%;
  height: auto;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $sub;
  border-bottom: 2px solid $black;
  img {
    width: 15%;
    height: 12vh;
    object-fit: cover;
    margin: 2vh 0;
  }
}

.worksArea {
  width: 100%;
  overflow: auto;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-wrap: wrap;
}
.workWrap {
  width: calc(100% / 3);
  height: auto;
  padding: 4vh 2%;
  .workImg {
    width: 100%;
    object-fit: cover;
    border: 2px solid $black;
    background-color: $white;
    position: relative;
  }
  // .awardImg {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   transform: translate(50%, -50%);
  // }
  h2 {
    margin: 0.8rem 0;
    font-size: $m;
    font-family: $font;
  }
  .explain {
    height: 8vh;
    font-size: $ss;
    font-family: $subFont;
    margin-bottom: 0.8rem;
  }
  .btnWrap {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.8rem;
    font-size: $s;
    font-family: $subFont;
    .workDate {
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.8rem 0;
      background-color: $white;
      border: 2px solid $black;
      border-radius: 6px;
    }
    a {
      width: 75%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.8rem 0;
      border: 2px solid $black;
      background-color: $main;
      color: $white;
      border-radius: 6px;
      &:hover {
        background-color: $pink;
        cursor: url("/img/cursor_click.png"), pointer;
      }
    }
  }
}
