@use "../styles/common" as *;

.windowWrap {
  @extend %windowWrap;
  .pageArea {
    background: url(/img/bg-line.svg) repeat, $white;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 12vh calc(80.5vh - 12vh);
  }
}

.header {
  width: 100%;
  height: 12vh;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $sub;
  border-bottom: 2px solid $black;
  overflow: hidden;
  a {
    width: 12%;
    height: auto;
    margin: 2vh 0;
    display: block;
    &:hover {
      cursor: url("/img/cursor_click.png"), pointer;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

.worksArea {
  width: 100%;
  overflow: auto;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.workWrap {
  width: calc(100% / 3);
  height: auto;
  padding: 4vh 2%;
  .workItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
  }
  .workImg {
    width: 100%;
    height: auto;
    aspect-ratio: 1.4141/1;
    object-fit: cover;
    border: 2px solid $black;
    background-color: $white;
    position: relative;
  }
  h2 {
    margin: 0.8rem 0 0;
    font-size: $m;
    font-family: $font;
  }
  .catchCopy {
    font-size: $ss;
    font-family: $subFont;
    font-weight: bolder;
  }
  .tagWrap {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.8rem;
    margin: 1.6rem 0 0.4rem;
    // border: 1px solid tomato;
    li {
      color: $gray;
      font-family: $subFont;
      font-size: $ss;
    }
  }
  .btnWrap {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.8rem;
    font-size: $s;
    font-family: $subFont;
    .workDate {
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.8rem 0;
      background-color: $white;
      border: 2px solid $black;
      border-radius: 6px;
    }
    a {
      width: 75%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.8rem 0;
      border: 2px solid $black;
      background-color: $main;
      color: $white;
      border-radius: 6px;
      &:hover {
        background-color: $pink;
        cursor: url("/img/cursor_click.png"), pointer;
      }
    }
  }
}
